.sm {
  font-size: 0.875rem; /* 14px */
}
.md {
  font-size: 1rem;     /* 16px */
}
.lg {
  font-size: 1.125rem; /* 18px */
}
.xl {
  font-size: 1.25rem;  /* 20px */
}

/* Жирность */
.normal {
  font-weight: 400;
}
.medium {
  font-weight: 500;
}
.bold {
  font-weight: 700;
}

/* Выравнивание */
.left {
  text-align: left;
}
.center {
  text-align: center;
}
.right {
  text-align: right;
}