.footer {
  height: 30vh;
  padding: 40px;
  margin-top: 40px;

  div > div {
    width: 100vh;
    
    @include flexbox(space-between, center, row);
  }

  .contactdata {
    width: 35vh;
    margin-bottom: 4vh;

    @include flexbox(space-between, center, row);
  }

  @include flexbox(space-between, center, column);
}
